#body {
  width: 570px;
  height: 990px;
  background-color: rgb(1, 1, 1);
  margin: 0 auto;
  text-align: center;
  font-family: SamsungOneUIKorean;
}

.insertSection {
  position: relative;
  top: 40px;
  width: 570px;
  height: 100px;
  display: table;
}

.inputWindow {
  vertical-align: middle;
  display: table-cell;
}

input {
  width: 480px;
  height: 80px;
  font-size: 40px;
  background-color: rgb(1, 1, 1);
  outline: none;
  border: none;
  color: white;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.calPreview {
  color: #5E5E5E;
}

.padSection {
  position: relative;
  top: 12%;
}

.numPad {
  color: #FBFBFB;
  font-size: 45px;
}

.numPad div {
  background-color: rgb(23, 23, 23);
  width: 110px;
  height: 110px;
  line-height: 110px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;

}

.padSection .numPad:first-child {
  color: rgb(155, 201, 111);
}

.padSection .numPad div:last-child {
  color: rgb(155, 201, 111);
}

#clear {
  color: rgb(217, 117, 127);
}

#equal {
  color: white;
  background-color: rgb(66, 126, 4);
}


